<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Ninja | <%= title %></title>
  <link rel="stylesheet" href="/style.css">
</head>

<!-- Les deux balises <link> que vous avez fournies sont utilisées pour lier une feuille de style CSS à un document HTML, mais elles se distinguent par le chemin spécifié dans l'attribut href.

1. <link rel="stylesheet" href="/style.css">
Chemin absolu relatif à la racine : Le chemin /style.css est un chemin absolu relatif à la racine du site web. Cela signifie que le fichier style.css est situé directement à la racine du serveur web.

Comportement : Le navigateur cherchera le fichier style.css à partir de la racine de l'URL. Par exemple, si le site web est hébergé à https://www.example.com, le navigateur demandera https://www.example.com/style.css.

2. <link rel="stylesheet" href="style.css">
Chemin relatif : Le chemin style.css est relatif à l'emplacement du document HTML contenant cette balise <link>. Si ce document HTML se trouve dans un sous-répertoire, le navigateur cherchera le fichier CSS dans le même répertoire.

Comportement : Le fichier style.css est recherché dans le même répertoire que le fichier HTML, ou dans un répertoire relatif au document HTML. Par exemple, si le document HTML est situé à https://www.example.com/about/, le navigateur demandera https://www.example.com/about/style.css. -->